[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".git-helpers"]
	path = .git-helpers
	url = https://github.com/alex-ac/git-helpers.git
[submodule "/Users/alex-ac/.vim/bundle/vim-localrc"]
	path = /Users/alex-ac/.vim/bundle/vim-localrc
	url = https://github.com/thinca/vim-localrc.git
